@import  "_variablesprice.scss";

@mixin w-h-100{
    width: 100%;
    height: 100%;
}
@mixin w-100{
    width: 100%;
}
@mixin w-h-20{
    width: 20px;
    height: 20px;
};
@mixin w-h($width, $height) {
    width: $width;
    height: $height;
}
@mixin d-f-s-e{
    display: flex;
    justify-content: space-evenly;
}
@mixin d-flex{
    display: flex;
}
@mixin contact-padding{
    @include padding(top,15);
    @include padding(left,0);
    color: $c-white;
}
@mixin abcdd{
    @include w-h(123px,20px);
    @include padding(top,2);
    @include padding(left,15);
    font-size: $f-14;
    left: 426px;
};
@mixin xyzff{
    @include w-h(228px,17px);
    @include padding(top,2);
    @include padding(left,26);
    font-size: $f-14;
}
@mixin padding ($side,$value){
    padding-#{$side} : $value + px;
}
@mixin margin ($side,$value){
    margin-#{$side} : $value + px;
}
@mixin marginn($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
};
@mixin d-f-s-b{
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
};
@mixin d-f-j-c{
    display: flex;
    justify-content: center;
}

@mixin nav-one-onee{
    font-family: sans-serif;
    text-decoration-line: none;
}
@mixin zzzz{
    @include padding(top,120);
    color: $c-white;
    font-family: sans-serif;
}
@mixin zzz-a{
    font-size: $f-16;
    text-decoration-line: none;
    font-family: $family-medium;
    color: $c-white;
    @include padding(left,10);
    @include padding(right,10);
}
@mixin grid{
    display: grid;
    grid-template-columns: 18.80% 18.80% 18.80%;
    justify-content: center;
    column-gap: 33px;
    margin-top: 0px;
    row-gap:30px;
}
@mixin p-header{
    font-size: $f-30;
    line-height: 35.16px;
    text-align: center;
    color: #103355;
    font-family:$family-bold;
}

@mixin p-paragraph{
    color: #018EB4;
    font-family:$family-bold;
    font-size: $f-18;
    line-height: 21.09px;
    text-align: center;
    padding: 10px;
}
@mixin p-s-header{
    color: #103355;
    font-size: $f-40;
    padding-top: 25px;
    font-family:$family-bold;
}
@mixin ff-header{
    color: $c-white;
    @include padding(bottom,15);
    font-size: $f-30;
    font-family: $family-bold;
}
@mixin ff-paragraph{
    color: $c-white;
    font-family: $family-medium;
    font-size: $f-16;
    line-height: 18.75px;
    opacity: 96%;
}
@mixin placeholder{
     // width: 153px;
     height: 56px;
     // top: 7017px;
     padding: 17px 140px 17px 17px;
     border-radius: 5px ;
     border: none;
     color: $c-white;
     font-size: $f-16;
     @include margin(top,15);  
     font-weight: normal;
     text-align: left;
     background: radial-gradient(94.17% 245.8% at -11.39% 10.76%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
     box-shadow: 0px 0px 30px 0px #0197B81A;
}
@mixin button{
   width: 153px;
   height: 56px;
   @include margin(top,15);  
   @include margin(left,5);  
   background-color: #002345;
   border: none;
   color: $c-white;
   font-size: $f-18;
   border-radius: 5px;
};
@mixin f-header{
    font-size: $f-22;
    @include margin(bottom,10);  
    color: rgb(255, 255, 255);
    font-family: $family-bold;
}
@mixin f-blue-border{
    font-family: $family-medium;
    width: 40px;
    margin-top: 20px ;
    margin-bottom: 20px ;
    border-bottom: 5px solid #018EB4;
};
@mixin ppp{
    padding-top: 2px;
    // padding-top: 2px;
    line-height: 30px;
    font-family: $family-medium;
    font-size: $f-16;
    opacity: 0.7;
    font-weight: normal;
    color: white;
}
@mixin f-list{
    padding: 7px;
    padding-left: 0px;
    height: auto;
    @include d-flex;
    font-weight: normal
};
@mixin f-list-p{
    @include margin(top,4);  
    @include margin(left,8);  
    font-family: $family-medium;
    font-size: $f-16;         
    line-height: 23.50px;
    color: white;
    opacity: 0.7;
}
@mixin copy-right{
    @include w-100;
    font-size: $f-16;
    // margin-top: 50px;
    font-family: $family-medium;
    position: absolute;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgba(215, 231, 248, 0.705);
    opacity: 0.6;
    padding: 5px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}