$bg-color:#018EB4;
$f-color:#002345;
$menu-nav-color:#103355;
$c-white:white;
$f-14:14px;
$f-16:16px;
$f-18:18px;
$tw-size:20px;
$f-22:22px;
$f-30:30px;
$f-36:36px;
$f-40:40px;
$bolder:bolder;
$family-bold: Gilroy-Bold;
$family-medium: Gilroy-Medium;
